/target/
**/*.rs.bk

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/code-actions-on-save.json
.history/

.idea/
*.iml

*~
*.swp
*.swo

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

.env
.env*.local
